/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui bordas e paddings no tamanho total */
}

body, html {
  width: 100%; /* Largura total da tela */
  height: 100%; /* Altura total da tela */
  overflow: hidden; /* Evita rolagens desnecessárias */
  font-family: Arial, sans-serif; /* Fonte padrão */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa 100% da altura da tela */
  width: 100vw; /* Ocupa 100% da largura da tela */
}

.app-logo {
  height: 400%;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2b609cea; /* Cor do header */
  color: rgb(255, 255, 255);
  height: 7%;
}

main {
  flex: 1; /* Garante que o conteúdo ocupe o espaço disponível entre header e footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-grid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%; /* Ajuste para caber na tela */
}

.dynamic-button {
  height: 300px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dynamic-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

